# see http://docs.celeryproject.org/en/latest/getting-started/first-steps-with-celery.html#configuration
#
# Rename this file to celeryconfig.py
# Command for test:
# celery worker --loglevel=INFO
BROKER_URL = 'amqp://myuser:mypassword@localhost:5672//'
CELERY_IMPORTS = ("test_tasks", )
CELERY_RESULT_BACKEND = "amqp"
CELERY_AMQP_TASK_RESULT_EXPIRES = 1000
